<!-- Header -->
<div id="user-header">
	<p id="user-header-title">My Profile!</p>
</div>

<!-- Content -->
<div id="user-content">
	<!-- Tasted Dishes -->
	<div id="user-tasted-dishes">
		<p id="tasted-dishes-text">You have tasted <%= data.dishes %> different dishes!</p>
		<button id="tasted-dishes-list-button">See the whole list!</button>
	</div>

	<!-- Earned Badges -->
	<div id="user-earned-badges">
		<p id="earned-badges-text">You have earned <%= data.badges %> different badges!</p>
		<button id="earned-badges-list-button">See the whole list!</button>
	</div>

	<!-- Connect to Facebook/Twitter/??? 
	<div id="user-connect">
		<button id="fb-button">Connect to Facebook</button>
		<p id="fb-connect-text">Connected to Facebook <img id="cancel-fb" src="" alt="" /></p>
	</div>-->
</div>